#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body{
  margin: 0;
  background-color: #340301;
}



/* .Letter{
  background-image: url("/graduated_letter.png");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.form_data{
  position: absolute;
  top: 70%;
  left: 50%;
  background-color: white;
  border-radius: 20px;
  width: 45%
}

.location{
  position: absolute;
  top: 86%;
  left: 2%;
  border-radius: 20px;
  width: 45%
}

.cloud_1{
  position: absolute;
  top: 10%;
  right: 5%;
  width: 200px;
  height: auto;
  opacity: 0.8;
}

.form_submit{
  text-align: start;
  padding: 40px;
  
}

.small_text{
  font-family: "Lora", serif;
  font-size: larger;
  font-family: 'Lor';
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  resize: none;
  padding: 10px 16px;
  box-sizing: border-box;
}

.text_input{
  font-family: "Lora", serif;
  font-size: larger;
}


.medium_text{
  font-family: "Lora", serif;
  font-size: larger;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  margin-bottom: 20px;
  resize: none;
  padding: 10px 16px;
  box-sizing: border-box;
}

.button_submit{
  width: 100%;
  height: 40px;
  background-color: #340301;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;  
}


.box_container{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
